.doctors__card-name {
	font-family: iNTER;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: -0.376923px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-bottom: 0;
}
