.twit {
	position: relative;
}

.twit::after {
	position: absolute;
	content: "";
	width: 13px;
	height: 13px;
	top: 3px;
	left: 0;
	background-image: url(../../../images/footer/twit.svg);
	background-repeat: no-repeat;
}
