.doctors__card-post {
	font-family: iNTER;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.376923px;
	text-transform: uppercase;
	color: #0096ff;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}
