.blog__item-data-date {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #999999;
	position: relative;
}

.blog__item-data-date::before {
	position: absolute;
	border-right: 1px solid #eeeeee;
	content: "";
	top: 2px;
	right: -12px;
	height: 10px;
}
